header {
    border-bottom: 1px solid #e6e6e6;
    height: 100px;
    position: fixed;
    width: 100vw;
    z-index: 3;
    align-items: center;
    display: flex;
    justify-content: center;
}

header > h1 {
    color: rgb(219, 219, 219);
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.aircraftIcon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
} 